<!-- <p>main works!</p> -->
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>The main content area of the layout</mat-card-title>
    <mat-card-subtitle>Here, we use juat a simpple mat-card</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Content</p>
    <p>
      The Holy Grail layout is a classic web design pattern that aims to create
      a three-column webpage layout with a header at the top, a footer at the
      bottom, and a content area in the center. The layout is called "Holy
      Grail" because it was historically difficult to achieve with early CSS due
      to various browser compatibility issues. The key characteristics of this
      layout are that the two side columns typically hold navigation menus or
      advertisements, while the central column contains the main content. The
      side columns usually have a fixed width, while the central column is
      fluid, expanding to fill the remaining space. 
    </p>
    <p>
      The Holy Grail layout is a classic web design pattern that aims to create
      a three-column webpage layout with a header at the top, a footer at the
      bottom, and a content area in the center. The layout is called "Holy
      Grail" because it was historically difficult to achieve with early CSS due
      to various browser compatibility issues. The key characteristics of this
      layout are that the two side columns typically hold navigation menus or
      advertisements, while the central column contains the main content. The
      side columns usually have a fixed width, while the central column is
      fluid, expanding to fill the remaining space.
    </p>
  </mat-card-content>
</mat-card>
