<!-- <p>rightpane works!</p> -->
<mat-card appearance="outlined">
  <mat-card-header>
    <!-- <mat-card-title>Article</mat-card-title> -->
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <div class="matlist">
        <span>
          <mat-list-item>
            <div class="matlistitem">
              <!-- <mat-icon matListItemIcon>visibility </mat-icon> -->
              <mat-icon>visibility </mat-icon>
              Views
            </div>
          </mat-list-item>
        </span>
        <span>
          <mat-list-item>
            <div class="matlistitem">
              <!-- <mat-icon matListItemIcon>favorite_border </mat-icon> -->
              <mat-icon>favorite_border </mat-icon>
              Likes
            </div>
          </mat-list-item>
        </span>
      </div>
    </mat-list>
  </mat-card-content>

  <mat-card-footer>
    <!--  -->
  </mat-card-footer>
</mat-card>
