//   mat-divider {
//   }

mat-card {
  height: 100%;
  border-radius: 0px !important;
}

mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 100%;
  color: rgb(133, 193, 181);
}

mat-card-content {
  display: inline-flex;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  height: 100%;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color:darkgray;
  font-size: 0.8em;
  padding-bottom: 2px;  
}
.selected-item {
    background-color: rgb(2, 39, 15); /* Example selected background color */
    color: white; /* Example selected text color */
}


.matlist {
  display: flex;
  // flex-direction: row;
  justify-content:flex-start;

  // align-items: center;

}

@media (width <= 501px) {
  .matlist {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

}

@media (min-width: 501px) and (max-width: 1023px) {
  .matlist {
    // mat-list {
    flex-direction: row;
    padding-top: -1px;  
  }
  mat-card-footer {
    padding-top: 25px;
  }
}

@media (min-width: 1024px) {
  .matlist {
   // mat-list {
     flex-direction: column;
     padding-inline: -1px;
     // width: 100%;
   }
 }
